[Unit]
Description=Apache Tomcat Web Application Container
Wants=network.target
After=network.target

[Service]
Type=forking

Environment=JAVA_HOME=/opt/jdk1.8.0_212/bin/java

Environment=CATALINA_PID=/opt/apache-tomcat-9.0.36/temp/tomcat.pid
Environment=CATALINA_HOME=/opt/apache-tomcat-9.0.36
Environment='CATALINA_OPTS=-Xms512M -Xmx1G -Djava.net.preferIPv4Stack=true'
Environment='JAVA_OPTS=-Djava.awt.headless=true'

ExecStart=/opt/apache-tomcat-9.0.36/bin/startup.sh
ExecStop=/opt/apache-tomcat-9.0.36/bin/shutdown.sh
SuccessExitStatus=143

User=root
Group=root
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
